.react-flow__node-zoom {
    font-size: 12px;
    background: #fff;
    border: 1px solid #555;
    border-radius: 5px;
    text-align: center;
    width: 150px;
    padding: 10px;
    line-height: 1.2;
  }
  .MenuIconBox{
    height: 21px;
    font-size: 30px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .favoriteHeaderBox{
    display: flex;
    height: 48px;
  }
  
  .menu_box{
    height: 35px;
  }
  .titleBox{
    font-weight: bold;
    font-size: medium;
    line-height: 53px;
    height: 59px;
  }
  .menu_items{
    display: flex;
    flex-flow: column;
    height: auto !important;
  }
  
  .favoriteBox{
    top: -33px;
    left: 203px;
    position: relative;
    width: 25px;
  }

  .favoriteBox img {
    width: 25px;
    height: auto;
    cursor: pointer;
  }

  .openTool .tooltip-wrapper{
    margin-right: 15px;
  }

  .toolBarDiv{
    padding:5px 0;
    width: inherit;
    display: flex;
    justify-content: space-between;

  }

  .dropdown-menu.bottom-end{
    left: 0px !important;
    top:63px;
    width: 250px;
  }
  
  .react-flow__node-zoom img {
    pointer-events: none;
  }
  
  .placeholder div {
    background: #eee;
    width: 100%;
    height: 10px;
    margin-bottom: 4px;
  }
  
  .placeholder div:last-child {
    margin-bottom: 0;
  }
  .backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
  }
  .alert{
    font-family: Arial, sans-serif;
    font-size: 15px;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -width;
    margin-top: -height;
  }

  .entityArea .overflow-auto{
    height: 217px;
  }

  .entityArea .rowOn{
    font-weight: bold;
    color:firebrick;
  }

  .entityTable .type {
    width: 50px;
    text-align: center;
  }
  .entityTable .overflow-auto {
  }

  .react-flow__node{
    height: auto !important;
  }