.text-updater-node {
    height: auto;
    /* border: 1.5px solid #c02f2f; */
    background: white;
    min-height: 72px;
    font-size: 17px;
    font-weight: 800;
  }

  .text-updater-node .updater-title{
    color: #fff;
  }
  
  .text-updater-node .updater-property{
    color: dimgray;
  }
  
  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }
  
  .text-updater-node .type input{
    width: 42px;
    height: 20px;
  }